main{
	padding-bottom: 50px;
}
h1{
	color:#8764D2;
	padding-top: 184px;
	text-align: center;
	font-family: "Sofia Sans";
	font-size: 54px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 6.48px;
}
tr{	

	color: #D5A8F2;
	font-family: "Fira Sans Condensed";
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 2.64px; 
}
.short-tr{
	width: 20%;
	text-align: center;
}
.long-tr{
	width: 80%;
	padding: 0 0 0 30px ;
}
td{
	height: 100px;	
	border:1px solid #B6F875;
	background-color: rgba(54, 54, 54);
}
table{
	width: 100%;
	border-spacing: 0;
	z-index: 4;
	position: relative;
}
.Box_plan{
	position: relative;
	width: 90%;
	padding: 48px 5% 30px 5%;
}
h3{
	color: #B6F875;
	text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
	font-family: "Sofia Sans";
	font-size: 40px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	letter-spacing: 4.8px;
	margin-bottom: 58px;
}
.element-animation {
  opacity: 0;
  transform: translateX(-120px);
}

.element-animation.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateX(0%);
}
.elipse3{
	position: absolute;
	top: -20px;
	left: 3px;
}
.elipse2{
	position: absolute;
	top: 589px;
	left: 1318px;
}
.elipse1{
	
}
.marks{
	z-index: 4;
	position: absolute;
	top: -106px;
	left: 1487px;
}